<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="wikipedia_test_selenide"  parallel="methods" thread-count="2">
    <test name="Regression chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestGigaBerlin" />
        </classes>
    </test>

    <test name="Regression firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestGigaBerlin" />
        </classes>
    </test>
</suite>
